<article>
  <header>
    <h1>{{ title }} <sup>{{ version }}</sup></h1>
    <time>createdAtFS: {{ createdAtFS }}</time>
    <time>updatedAtFS: {{ updatedAtFS }}</time>
    <time>createdAtGit: {{ createdAtGit }}</time>
    <time>updatedAtGit: {{ updatedAtGit }}</time>
  </header>
  <main>
    {{ content | safe }}
  </main>
</article>