<article>
  <header>
    <h1>
      {{ title }}
      <sup>{{ version }}</sup>
    </h1>

    {% if createdAt %}
      <time>created: {{ createdAt }}</time>
    {% endif %}

    {% if updatedAt %}
      <time>updated: {{ updatedAt }}</time>
    {% endif %}
  </header>

  <main>
    {{ content | safe }}
  </main>
</article>